# Copyright (c) 2021 NXP
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "NXP i.MX SoC Selection"

	config SOC_NXP_RT5XX_FUSION_DSP
		bool "RT5xx Fusion DSP"
		depends on SOC_SERIES_NXP_RT5XX_FUSION_DSP

endchoice
